

.card {
    border: 1px solid #B5A886;
    padding: 15px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 6px 6px #ccc;
    background-color: #FEE1C7;
    color: #37515F;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
}

p {
    margin: 2rem 0;
    font-size: 1.3rem;
    font-weight: bold;
}

/* tarjeta para contenido opcional */
.card.opcional {
    min-height: 200px;
    background-color: #C94277;
    color: #fff;
    display: flex;
}
